extends adminlayout

block content
  script.
    $(document).ready(function() {
      $.each($('.model'), function(k, v) {
        var self = $(this);
        var showChildren = function(children) {
          if (typeof children == 'object') {
            var h ='';
            $.each(children, function(k, v) {
              if (k != '_id') h += v;
            });
            return h;
          }
          else
            return children;
        }
        $.ajax({type:   'GET',
                url:    'json/documents',
                data:   'collection=' + encodeURIComponent($(this).attr('rel')) +
                        '&start=0&count=5',
                success:function(results) {
                          $('#viewAll_' + self.attr('rel')).html('View All ' + results.totalCount + '...');
                          self.html('');
                          var table = $('<table />');
                          $.each(results.documents, function(k, v) {
                            var row = $('<tr />');
                            var i = 0;
                            for (j in v) {
                              if (j != '_id') {
                                var h = showChildren(v[j]);
                                if (i === 0) {
                                  row.append($('<td />').append($('<a />').attr('href', 'model/' + self.attr('rel') + '/document/' + v['_id']).html(h)));
                                } else {
                                  row.append($('<td />').html(h));
                                }
                                i += 1;
                              }
                            }
                            table.append(row);
                          });
                          self.append(table);
                        },
                error:  function() {
                          alert('error');
                        }
              });
      });
    });
  div#content.container_16.clearfix
    div.grid_11
      - each model in models
        h2 #{model.modelName}
        div.model(id='model_#{model.collection.name}', rel='#{model.collection.name}')
          img(src='/images/loading-spinner.gif')
        p 
          a(href='#{rootPath}/model/#{model.collection.name}/document/new') New...
          | &nbsp;|&nbsp;
          a(href='/model/#{model.collection.name}') 
            span(id='viewAll_#{model.collection.name}') View All...
    div.grid_5
      h2 Recent Activity
      p 
        | This is not implemented
